.container {

}

.progress {
    background-color: rgba(128, 128, 128, 0.37);
    width: 100%;
    height: 15px;
    border-radius: 25px;
    margin: 20px 0 75px 0;
}

.progressBar {
    background: rgb(111,244,111);
    background: linear-gradient(90deg, rgba(111,244,111,1) 7%, rgba(2,171,255,0.5676645658263305) 88%);
    height: 15px;
    border-radius: 25px;
    transition: 1s;
}

.question {
    font-size: 45px;
    margin: 0 25px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 55px 0 0 0;
}

li {
    border: 1px solid #808080FF;
    border-radius: 20px;
    margin: 15px 0;
    font-size: 30px;
    padding: 15px 15px 20px 20px;
    cursor: pointer;
}

li:hover {
    background-color: #177e56;
    color: #f1f0f0;
}