.resultWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trophyStyle {
    width: 300px;
    height: auto;
    margin: 90px 0 40px 0;
}

.resultText {
    font-size: 45px;
    font-weight: 600;
    color: #221449;
    margin: 0 0 50px 0;
}

.restartBtn {
    padding: 20px 25px;
    font-size: 18px;
    background-color: #00d5ff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    color: rgba(42, 41, 41, 0.91);
}

.restartBtn:hover {
    background-color: #0f9dbb;;
    color: #ffffff;
    border-color: #ffffff;
}