.App {
  background-color: #f1f0f0;
  width: 900px;
  height: 650px;
  border-radius: 5%;
  -webkit-box-shadow: 14px 25px 20px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 14px 25px 20px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 14px 25px 20px 8px rgba(0, 0, 0, 0.2);
  padding: 35px;
}